* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F31559;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 5px solid black;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #FFB07F;
}

.btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside {
    margin: 20px;
    font-size: 15px;
}

footer {
    margin-top: 25px;
}

.dev {
    text-align: center;
    font-size: 25px;
}

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.b1,
.b2 {
    margin: 20px;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}